.navfooterEd {
    display: none;
}
@media (max-width:900px) {
    .navfooterEd {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: rgb(3, 16, 24) !important;
        justify-content: space-around;
        height: 70px;
        align-items: center;
        border-top: 1px solid rgb(109, 109, 109);
    }
    Link {
        text-decoration: none;
    }
}
.linkIcoFot {
    text-decoration: none;
}
.alliof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 800;
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icoryf {
    font-size: .9em;
}
.fa-solid {
    color: rgb(31, 81, 90);
}
.alliof:hover {
    color: rgb(31, 81, 90);
    fill: rgb(31, 81, 90);
}
.fa {
    color: rgb(31, 81, 90);
    font-size: 6em;
}
@media (max-width:390px) {
    .alliof {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 800;
        font-size: 1.1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .icoryf {
        font-size: .7em;
    }
}
#ad {
    text-align: center;
}
#ad:hover .fa-solid {
    color: rgb(31, 81, 90);
}
#ad:hover #nameIcony {
    color: rgb(31, 81, 90);
}
#ad:active {
    color: rgb(60, 135, 148);
}
.active .alliof {
    color:rgb(60, 135, 148); /* or any other styling you want for the active link */
}
